.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0 0 0 / 30%);
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-overlay.show {
  display: flex;
}
