:host {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
}

eui-layout-v0-multi-panel-tile {
  width: 100%;
}

.action {
  display: inline-block;
}

.hidden {
  display: none;
}

.view-change-icon {
  margin-left: 8px;
  cursor: pointer;
}
